/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.sc-ion-card-md-h {
  background: white;
}

.page-background {
  --background: var(--ion-color-light);
  padding: 0;
  height: 100%;
}

.align {
  align-items: center;
  vertical-align: middle;
}

.name {
  font-size: 1.4rem;
  text-transform: capitalize;
}

.avatar {
  margin-left: 20%;
  width: 60%;
  height: 60%;
}

.header-row {
  font-weight: bold;
}

.split-pane-visible > .split-pane-side {
  min-width: 260px !important;
  max-width: 260px !important;
}

.mat-input-wrapper {
  width: 100% !important;
}

.mat-row:hover {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.mat-tooltip.tooltip {
  font-size: 1.2rem;
}

.disable-scrollbars::-webkit-scrollbar {
  display: none;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.active {
  background-color: white;
  color: var(--ion-color-primary) !important;
  ion-icon {
    color: var(--ion-color-primary) !important;
  }
  --color-hover: var(--ion-color-primary) !important;
}

.mat-header-cell.text-center {
  text-align: center;
}

.cancel {
  color: var(--ion-color-danger) !important;
}

#cdk-overlay-1 .mat-option-text {
  line-height: 1.5;
}




.label-form mat-form-field:not(.remarks-label) .mat-form-field-infix:not(.ng-tns-c164-8){
  background: #b7e2f3;
  text-align: center;
  border-radius: 15px;
  position: relative;
padding:10px;
}


.label-form  .mat-form-field-underline {
  height:0px;
  display: none;
}
.label-form .mat-form-field-label{
  font-size:16px;
  font-weight:500;
padding-top:10px;
}
.label-form .mat-input-element{
  margin-top:10px;
  display: inline-block;
  vertical-align: middle;
}

.label-form label#mat-form-field-label-27 {
position: absolute;
  left: 0;
  right: 0;
  transition: none !important;
  transform: none !important;
}

.label-form .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
  transform: none;
  transition: none;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  color: #000;
}

.label-form .mat-form-field-appearance-legacy .mat-form-field-label {
  transform: none;
  top: 0;
  color:#000;
}

.label-form .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
  height: 0;
}

.label-form ion-col.md.hydrated {
  border-right: 1px solid #ccc;
  padding: 0px;
  width: auto;
  margin: 0;
  text-align: center;
  padding-inline-start: 15px;
  padding-inline-end: 15px;
  max-width: fit-content;
}

.label-form  .mat-form-field-suffix {
  position: absolute;
  right: 10px;
  bottom: 24px;
}
.remarks-label{
  display:inline;
  width:100%;
}
.remarks-label .mat-form-field-infix{
display:flex;
align-items: center;
width: auto;
}
.remarks-label .mat-form-field-infix textarea{
  border: 2px solid #b7e2f3;
  border-radius:50px;
  resize:none;
  order: 2;
  padding-left: 10px;
  height: 37px;
  padding-top: 10px;
} 

.remarks-label .mat-form-field-label-wrapper {
position: relative;
display: block;
width: 14%;
top: auto;
background: #b7e2f3;
border-radius: 50px;
text-align:center;
margin: 0px;
padding: 10px;
margin-right: 11px;
margin-top: 11px;
}

.remarks-label .mat-form-field-label {
  display: contents !important;
}
.remarks-label .label-form .mat-form-field-underline,.remarks-label .mat-form-field-appearance-legacy .mat-form-field-ripple{
display:none !important;
}

.label-form .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px;
}
.label-form ion-row.align.md.hydrated {
  margin-bottom: 20px;
}
.label-form ion-col.md.hydrated:last-child {
  border: none;
}
.label-form .search_bar .md.hydrated:first-child {
  border-right: 0px;
  margin-right: 30px;
}
.label-form .search_bar,.label-form .search_bar .mat-form-field-flex{
  justify-content: flex-start;
}
.search_bar ion-col.md.hydrated{
  margin-right: auto;
  margin-left: 0;
}
.draft_box {
  background: #ffffff;
text-align: center;
border-radius: 10px;
position: relative;
padding: 10px;
}

.draft_box ion-card.md.hydrated {
background: transparent;
box-shadow: none;
}

.draft_box ion-card-header.ion-inherit-color {
color: #000;
margin: 0px;
}
.draft_box ion-text.ion-color.ion-color-tertiary.md.hydrated {
color: #000;
}
.draft_box .mat-table {
background: #b7e2f3;
}

.horizontal-boxes {
  max-height: 30em !important;
  overflow-y: hidden !important;
  position: relative;
  max-width: 100%;
  overflow-x: scroll;
  background: #fff;
  padding-top:40px;
  padding: 0;
  border: 20px solid #fff;
  border-radius: 10px;
  margin-right: 11px;
  border-top:0
}

.horizontal-boxes ion-row {
  width: max-content;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-wrap: nowrap;
}
.horizontal-boxes ion-card-content ion-row{
  width:100%;
}

.horizontal-boxes ion-col.ng-star-inserted.md.hydrated {
  display: inline-block;
  width: 20% !important;
  max-width: 280px !important;
  text-align:center;
}


.horizontal-boxes ion-card {
  box-shadow: none;
  border: 2px solid #b7e2f3;
  padding: 20px 0px;
  padding-top: 9px;
  border-radius: 31px;
}

.horizontal-boxes ion-card-footer {
  display: block;
  position: relative;

}

.horizontal-boxes  ion-card-subtitle.ion-inherit-color.md.hydrated {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.horizontal-boxes ion-card-content {
 
  text-align:center;
}
// .horizontal-boxes ion-button{
//   display:none;
// }

.horizontal-boxes ion-col.box-price {
  text-align: center;
  display: block;
}
.horizontal-boxes ion-card-header {
  padding: 0;
}
.pieces-num {
  width: 130px !important;
  margin-bottom: 12px;
  background: yellow;
  border-radius: 54px;
  padding-left: 12px;
  padding-right: 10px;
}


.horizontal-boxes::-webkit-scrollbar-track
{
border-radius: 10px;
background-color: #F5F5F5;

}
.horizontal-boxes::-webkit-scrollbar
  {border-radius:10px;
width: 12px;
background-color: #F5F5F5;
     height:8px;
}
.horizontal-boxes::-webkit-scrollbar-thumb
{
border-radius: 10px;
background-color: #ccc;
}

.draft-payment {
  background: red;
  color: #fff !important;
  padding: 10px 15px !important;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}
.submit-payment{
  background: green;
  color: #fff !important;
  padding: 10px 20px !important;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}
.striped .mat-row:nth-child(even) {
  background-color: #fff;
  border: none;
}

.striped mat-header-row {
  background-color: #f1f1f1;
  border: none;
}

.striped .mat-row:nth-child(odd) {
  background-color: #f3f3f3;
  border: none;
}

.striped .mat-row:hover {
  box-shadow: none;
}

.striped mat-header-row mat-header-cell {
  font-size: medium;
  font-weight: bold;
  color: #000;
}
// .table-card{
//   padding:15px 0px;
// }
app-add-sales-invoice ion-card{
  box-shadow:none;
}
.search-table{
  border:2px solid #ccc;
  border-radius:10px;
 }
 .search-table .mat-form-field-underline{
     display:none;
 }
 .search-table .mat-form-field-wrapper {
     padding:0
 }
 .search-table .mat-form-field-appearance-legacy .mat-form-field-label{
  transform:none;
}
.search-table .mat-form-field-label-wrapper{
  top:-20px;
}

.search-table .mat-form-field-label{
  transform:none !important;
}
.search-table  .mat-form-field-prefix{
  padding:0px 20px
}
ion-card-title.invBtn.ion-inherit-color.md.hydrated {
  background: #b7e2f3;
  height: 60px;
  border-radius: 15px;
  min-width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-card-title.invBtn.ion-inherit-color.md.hydrated ion-text.ion-color.ion-color-tertiary.md.hydrated {
  color: #000;
}
.label-form .search_bar .md.hydrated:first-child {padding: 0;}
ion-card-header+.card-content-md{padding-bottom:0px;}
ion-card.md.hydrated {
  margin-bottom: 0;
}
.label-form ion-row.align.md.hydrated ion-col.md.hydrated:first-child {
  padding-left: 0;
}

.label-form ion-row.align.md.hydrated ion-col.md.hydrated:last-child {
  padding-right: 0;
}

 ion-row.navTopButton.md.hydrated {
  padding-left: 12px;
  margin-top: 10px;
  
}
 ion-row.navTopButton.md.hydrated button.mat-focus-indicator.mat-button.mat-button-base.mat-primary {
background: #f4c343;
margin-right: 35px;
display: flex;
align-items: center;
border-radius: 10px;
padding: 3px 25px;
margin-bottom: 5px;
}

 ion-row.navTopButton.md.hydrated button.mat-focus-indicator.mat-button.mat-button-base.mat-primary span.mat-button-wrapper {
color: #4a4a4a;
font-size: 24px;
font-weight: 600;
letter-spacing: 1px;
}


 .remarks-label .mat-form-field-infix {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}
.toolbar-strip-top  ion-text.ion-margin-end {
  margin: 0;
  color: #000;
  font-size: 15px;
}

.iconAcc-logout {
  margin-left: 15px;
  background: none;
  height: auto;
}

.iconAcc-logout ion-label.sc-ion-label-md-h {
  font-size: 22px;
}

.iconAcc-logout ion-avatar.md.hydrated {
  width: 60px;
  height: 60px;
}

.iconAcc-logout ion-avatar.md.hydrated img {
  width: 100%;
  height: 100%;
}
app-home.ion-page ion-content.md.hydrated {--offset-top: -60px !important;}
ion-content.main-content-block.md.hydrated,ion-content.page-background.md.hydrated {
  --offset-top: -36px !important;
}

ion-card-header.ion-inherit-color.md.hydrated {
  padding-top: 0;padding-bottom: 0;
}

ion-card-subtitle.ion-inherit-color.md.hydrated{padding-top: 16px;}
ion-card-title.ion-inherit-color.md.hydrated{padding-bottom: 16px;}
.invBtn {
  padding-bottom: 0 !important;
}
.chip-main-wrapper {
  display: flex;
  overflow-x: auto;
  margin: 0 10px;
  border:none;
}

.chip-main-wrapper mat-chip-list {
  min-width: fit-content;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chip-main-wrapper mat-chip-list mat-chip.mat-chip.mat-focus-indicator {
  border-radius: 0;
  padding: 20px 25px;
  background-color: #499bc0 !important;
  color: #000 !important;
  font-weight: 600;
}
.main-filed-pos-form {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.main-filed-pos-form ion-col.md.hydrated {
  flex-basis: auto;
  flex-grow: 0;
}

.main-filed-pos-form ion-col.md.hydrated mat-form-field {
  width: 70%;
  padding-left: 20px;
  border-left: 1px solid #ccc;
}

.main-filed-pos-form ion-col.md.hydrated ion-text.ion-color {
  width: 30%;
  display: inline-block;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}



.main-filed-pos-form ion-col.md.hydrated mat-form-field .mat-form-field-wrapper {
  border: 0;
}

.main-filed-pos-form ion-col.md.hydrated mat-form-field .mat-form-field-wrapper .mat-form-field-infix {
  border: none;
}
.main-filed-pos-form .mat-form-field-appearance-legacy .mat-form-field-underline,.main-filed-pos-form  .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple{height:0}
.payment-draft-btn-box {display: flex;}
.payment-draft-btn-box button.draft-payment {background: #ea5255;font-size: 20px;padding: 20px 30px !important;border-radius: 10px;margin-right: 23px;margin-top: 30px;}
.payment-draft-btn-box button.draft-payment span.mat-button-wrapper {white-space: break-spaces;font-size: 23px;width: 85px;display: block;}
.payment-draft-btn-box button.submit-payment {background: #a5c536;font-size: 20px;padding: 20px 30px !important;border-radius: 10px;margin-right: 23px;margin-top: 30px;}
.payment-draft-btn-box button.submit-payment span.mat-button-wrapper {white-space: break-spaces;font-size: 23px;width: 110px;display: block;}
.item-scroll-box ion-card.mat-tooltip-trigger.grid-card.md.hydrated {
  margin: 0;
  width: 100%;
}

.item-scroll-box ion-col.ng-star-inserted.md.hydrated {
  max-width: 190px !important;
  margin-right: 30px;
}

.item-scroll-box  .horizontal-boxes ion-card-content {
  max-width: 50px !important;
}
.item-scroll-box ion-card-subtitle.ion-inherit-color.md.hydrated {
  padding: 0;
}

.item-scroll-box ion-button.ng-star-inserted.ion-color.ion-color-primary.md.button.button-small.button-clear.ion-activatable.ion-focusable.hydrated {
  display: none;
}
ion-img.item-image.prd-slid-img.md.hydrated{  width: 110px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 20px;
}

.item-prod-wrapper {
  position: relative;
}

.item-prod-wrapper .pieces-num.count-pcs{
  position: absolute;
  top: 0;
  left: 5px;
  z-index: 2;
  width: fit-content !important;
  font-size: 12px;
  padding:  3px 8px;
}
.item-scroll-box ion-card.mat-tooltip-trigger.grid-card.md.hydrated {
  padding-bottom: 5px;
}

.form-pos-box {

  border-radius: 0;
  padding-top: 0;
}



.main-promo-offer-box .grid-container.horizontal-boxes ion-row.md.hydrated {
    flex-wrap: wrap;
    width: 100%;
}

.main-promo-offer-box .grid-container.horizontal-boxes ion-row.md.hydrated ion-col.ng-star-inserted {
    width: 50% !important;
    max-width: 100% !important;
    margin: 0;
    flex: 0 0 calc(calc(2 / var(--ion-grid-columns, 04)) * 100%) !important;
}
ion-text.ion-color.ion-color-tertiary.promo-offer-box-heading.md.hydrated {
  background: #f4c343;
  display: block;
  padding: 8px 0;
  border-radius: 20px;
  max-width: 90%;
  margin: 0 auto 15px auto;
  font-weight: 500;
  font-size: 18px;
}


.main-promo-offer-box .grid-container.horizontal-boxes {
  display: block !important;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  padding-bottom: 20px;
  overflow: hidden;
}
ion-col.draft_box.form-pos-box.md.hydrated {
  margin-top: -50px;
}