/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.sc-ion-card-md-h {
  background: white;
}

.page-background {
  --background: var(--ion-color-light);
  padding: 0;
  height: 100%;
}

.align {
  align-items: center;
  vertical-align: middle;
}

.name {
  font-size: 1.4rem;
  text-transform: capitalize;
}

.avatar {
  margin-left: 20%;
  width: 60%;
  height: 60%;
}

.header-row {
  font-weight: bold;
}

.split-pane-visible > .split-pane-side {
  min-width: 260px !important;
  max-width: 260px !important;
}

.mat-input-wrapper {
  width: 100% !important;
}

.mat-row:hover {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.mat-tooltip.tooltip {
  font-size: 1.2rem;
}

.disable-scrollbars::-webkit-scrollbar {
  display: none;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.active {
  background-color: white;
  color: var(--ion-color-primary) !important;
  ion-icon {
    color: var(--ion-color-primary) !important;
  }
  --color-hover: var(--ion-color-primary) !important;
}

.mat-header-cell.text-center {
  text-align: center;
}

.cancel {
  color: var(--ion-color-danger) !important;
}

#cdk-overlay-1 .mat-option-text {
  line-height: 1.5;
}




.label-form mat-form-field:not(.remarks-label) .mat-form-field-infix:not(.ng-tns-c164-8){
  background: #b7e2f3;
  border-radius: 15px;
  position: relative;
  text-align: left;
  text-indent: 15px;
}

.card-content-md .mat-form-field-infix {
  width: 135px;
}

.label-form  .mat-form-field-underline {
  height:0px;
  display: none;
}
.label-form .mat-form-field-label{
  font-size:16px;
  font-weight:500;
padding-top:10px;
}
.label-form .mat-input-element{
  margin-top:1vw;
  display: inline-block;
  vertical-align: middle;
}

.label-form label#mat-form-field-label-27 {
position: absolute;
  left: 0;
  right: 0;
  transition: none !important;
  transform: none !important;
}

.label-form .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
  transform: none;
  transition: none;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  color: #000;
}

.label-form .mat-form-field-appearance-legacy .mat-form-field-label {
  transform: none;
  top: 0;
  color:#000;
  font-size:0.878vw;
}

.label-form .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
  height: 0;
}

.label-form ion-col.md.hydrated,.label-form ion-col.ios.hydrated {
  // border-right: 1px solid #ccc;
  padding: 0px;
  width: auto;
  margin: 0;
  text-align: center;
  padding-inline-start: 15px;
  padding-inline-end: 15px;
  max-width: fit-content;
}

.label-form  .mat-form-field-suffix {
  position: absolute;
  right: 10px;
  bottom: 24px;
}
.remarks-label{
  display:inline;
  width:100%;
}
.remarks-label .mat-form-field-infix{
display:flex;
align-items: center;
width: auto;
}
.remarks-label .mat-form-field-infix textarea{
  border: 2px solid #b7e2f3;
  border-radius:50px;
  resize:none;
  order: 2;
  padding-left: 10px;
  height: 37px;
  padding-top: 10px;
} 

.remarks-label .mat-form-field-label-wrapper {
position: relative;
display: block;
width: 14%;
top: auto;
background: #b7e2f3;
border-radius: 50px;
text-align:center;
margin: 0px;
padding: 10px;
margin-right: 11px;
margin-top: 11px;
}

.remarks-label .mat-form-field-label {
  display: contents !important;
}
.remarks-label .label-form .mat-form-field-underline,.remarks-label .mat-form-field-appearance-legacy .mat-form-field-ripple{
display:none !important;
}

.label-form .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px;
}
.label-form ion-row.align.md.hydrated,.label-form ion-row.align.ios.hydrated {
  // margin-bottom: 20px;
  // overflow-x: scroll;
    flex-wrap: nowrap;
}
.label-form ion-col.md.hydrated:last-child,.label-form ion-col.ios.hydrated:last-child {
  border: none;
}
.search_bar{
  flex-wrap: unset;
}
.label-form .search_bar .md.hydrated:first-child,.label-form .search_bar .ios.hydrated:first-child {
  border-right: 0px;
  margin-right: 30px;
}
.label-form .search_bar,.label-form .search_bar .mat-form-field-flex{
  justify-content: flex-start;
}
.search_bar ion-col.md.hydrated,.search_bar ion-col.ios.hydrated{
  margin-right: auto;
  margin-left: 0;
}
.draft_box {
  background: #ffffff;
text-align: center;
border-radius: 10px;
position: relative;
padding: 10px;
}

.draft_box ion-card.md.hydrated,.draft_box ion-card.ios.hydrated  {
background: transparent;
box-shadow: none;
}

.draft_box ion-card-header.ion-inherit-color {
color: #000;
margin: 0px;
}
.draft_box ion-text.ion-color.ion-color-tertiary.md.hydrated ,.draft_box ion-text.ion-color.ion-color-tertiary.ios.hydrated {
color: #000;
font-size: 1.025vw;
}
.draft_box .mat-table {
background: #b7e2f3;
}

.horizontal-boxes {
  max-height: 30em !important;
  overflow-y: hidden !important;
  position: relative;
  max-width: 100%;
  overflow-x: scroll;
  background: #fff;
  padding-top:40px;
  padding: 0;
  border: 20px solid #fff;
  border-radius: 10px;
  margin-right: 11px;
  border-top:0
}

.horizontal-boxes ion-row {
  width: max-content;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-wrap: nowrap;
}
.horizontal-boxes ion-card-content ion-row{
  width:100%;
}

.horizontal-boxes ion-col.ng-star-inserted.md.hydrated ,.horizontal-boxes ion-col.ng-star-inserted.ios.hydrated {
  display: inline-block;
  width: 20% !important;
  max-width: 280px !important;
  text-align:center;
}


.horizontal-boxes ion-card {
  box-shadow: none;
  border: 2px solid #b7e2f3;
  padding: 20px 0px;
  padding-top: 9px;
  border-radius: 31px;
}

.horizontal-boxes ion-card-footer {
  display: block;
  position: relative;

}

.horizontal-boxes  ion-card-subtitle.ion-inherit-color.md.hydrated,.horizontal-boxes  ion-card-subtitle.ion-inherit-color.ios.hydrated {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.horizontal-boxes ion-card-content {
 
  text-align:center;
}
// .horizontal-boxes ion-button{
//   display:none;
// }

.horizontal-boxes ion-col.box-price {
  text-align: center;
  display: block;
}
.horizontal-boxes ion-card-header {
  padding: 0;
}
.pieces-num {
  width: 130px !important;
  margin-bottom: 12px;
  background: yellow;
  border-radius: 54px;
  padding-left: 12px;
  padding-right: 10px;
}


.horizontal-boxes::-webkit-scrollbar-track
{
border-radius: 10px;
background-color: #F5F5F5;

}
.horizontal-boxes::-webkit-scrollbar
  {border-radius:10px;
width: 12px;
background-color: #F5F5F5;
     height:8px;
}
.horizontal-boxes::-webkit-scrollbar-thumb
{
border-radius: 10px;
background-color: #ccc;
}

.draft-payment {
  background: red;
  color: #fff !important;
  padding: 10px 15px !important;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}
.submit-payment{
  background: green;
  color: #fff !important;
  padding: 10px 20px !important;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}
.striped .mat-row:nth-child(even) {
  background-color: #fff;
  border: none;
}

.striped mat-header-row {
  background-color: #f1f1f1;
  border: none;
}

.striped .mat-row:nth-child(odd) {
  background-color: #f3f3f3;
  border: none;
}

.striped .mat-row:hover {
  box-shadow: none;
}

.striped mat-header-row mat-header-cell {
  font-size: 1.171vw;
  font-weight: bold;
  color: #000;
  min-height: 4.173vw;
}

.striped .mat-cell,.striped .mat-footer-cell{
  font-size: 1.025vw;
}

// .table-card{
//   padding:15px 0px;
// }
app-add-sales-invoice ion-card{
  box-shadow:none;
}
.search-table{
  border:2px solid #ccc;
  border-radius:10px;
 }
 .search-table .mat-form-field-underline{
     display:none;
 }
 .search-table .mat-form-field-wrapper {
     padding:0
 }
 .search-table .mat-form-field-appearance-legacy .mat-form-field-label{
  transform:none;
}
.search-table .mat-form-field-label-wrapper{
  top:-20px;
}

.search-table .mat-form-field-label{
  transform:none !important;
}
.search-table  .mat-form-field-prefix{
  padding:0px 20px
}
ion-card-title.invBtn.ion-inherit-color.md.hydrated,ion-card-title.invBtn.ion-inherit-color.ios.hydrated {
  background: #b7e2f3;
  height: 60px;
  border-radius: 15px;
  min-width: 142px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
ion-row.search_place.md.hydrated,ion-row.search_place.ios.hydrated  {
  display: block;
  width: 50%;
  left: 30px;
  margin-left: auto;
  position: absolute;
  top: 90px;
}
.search_place .mat-form-field-infix {
  padding: 0;
  border: 0;
}
.search_place .mat-form-field-infix .mat-form-field-label{
  display: contents !important;
}
.search_place-container{
  padding: 0;
}
ion-card-title.invBtn.ion-inherit-color.md.hydrated ion-text.ion-color.ion-color-tertiary.md.hydrated ,ion-card-title.invBtn.ion-inherit-color.ios.hydrated ion-text.ion-color.ion-color-tertiary.ios.hydrated {
  color: #000;
}
.label-form .search_bar .md.hydrated:first-child ,.label-form .search_bar .ios.hydrated:first-child {padding: 0;}
ion-card-header+.card-content-md{padding-bottom:0px;}
ion-card.md.hydrated ,ion-card.ios.hydrated {
  margin-bottom: 0;
}
.label-form ion-row.align.md.hydrated ion-col.md.hydrated:first-child,.label-form ion-row.align.ios.hydrated ion-col.ios.hydrated:first-child {
  padding-left: 0;
}

.label-form ion-row.align.md.hydrated ion-col.md.hydrated:last-child ,.label-form ion-row.align.ios.hydrated ion-col.ios.hydrated:last-child {
  padding-right: 0;
}

 ion-row.navTopButton.md.hydrated, ion-row.navTopButton.ios.hydrated {
  padding-left: 12px;
  // margin-top: 10px;
  
}
ion-header ion-list.list-md{
  padding: 0px;
}
 ion-row.navTopButton.md.hydrated button.mat-focus-indicator.mat-button.mat-button-base.mat-primary, ion-row.navTopButton.ios.hydrated button.mat-focus-indicator.mat-button.mat-button-base.mat-primary {
background: #f4c343;
margin-right: 35px;
display: flex;
align-items: center;
border-radius: 10px;
padding: 0.4vw 1.830vw;
margin-bottom: 5px;
}

 ion-row.navTopButton.md.hydrated button.mat-focus-indicator.mat-button.mat-button-base.mat-primary span.mat-button-wrapper, ion-row.navTopButton.ios.hydrated button.mat-focus-indicator.mat-button.mat-button-base.mat-primary span.mat-button-wrapper {
color: #4a4a4a;
font-size: 1.464vw;
font-weight: 600;
letter-spacing: 1px;
// line-height: 1.5;
}


 .remarks-label .mat-form-field-infix {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}
.toolbar-strip-top  ion-text.ion-margin-end {
  margin: 0;
  color: #000;
  font-size: 15px;
}

.iconAcc-logout {
  margin-left: 15px;
  background: none;
  height: auto;
}

.iconAcc-logout ion-label.sc-ion-label-md-h {
  font-size: 22px;
}

.iconAcc-logout ion-avatar.md.hydrated,.iconAcc-logout ion-avatar.ios.hydrated {
  width: 45px;
  height: 45px;
}

.iconAcc-logout ion-avatar.md.hydrated img,.iconAcc-logout ion-avatar.ios.hydrated img {
  width: 100%;
  height: 100%;
}
// app-home.ion-page ion-content.md.hydrated {--offset-top: -60px !important;}
// ion-content.main-content-block.md.hydrated,ion-content.page-background.md.hydrated {
//   --offset-top: -36px !important;
// }

ion-card-header.ion-inherit-color.md.hydrated,ion-card-header.ion-inherit-color.ios.hydrated {
  padding-top: 0;padding-bottom: 0;
}

ion-card-subtitle.ion-inherit-color.md.hydrated,ion-card-subtitle.ion-inherit-color.ios.hydrated{padding-top: 16px;}
ion-card-title.ion-inherit-color.md.hydrated,ion-card-title.ion-inherit-color.ios.hydrated{padding-bottom: 16px;}
.invBtn {
  padding-bottom: 0 !important;
}
.chip-main-wrapper {
  display: flex;
  overflow-x: auto;
  margin: 0 10px;
  border:none;
}

.chip-main-wrapper mat-chip-list {
  min-width: fit-content;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chip-main-wrapper mat-chip-list mat-chip.mat-chip.mat-focus-indicator {
  border-radius: 0;
  padding: 1.464vw 1.830vw;
  background-color: #499bc0 !important;
  color: #fff !important;
  font-weight: 600;
}
.main-filed-pos-form {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.main-filed-pos-form ion-col.md.hydrated,.main-filed-pos-form ion-col.ios.hydrated {
  // flex-basis: auto;
  // flex-grow: 0;
  display: flex;
}

.main-filed-pos-form ion-col.md.hydrated mat-form-field,.main-filed-pos-form ion-col.ios.hydrated mat-form-field {
  width: 70%;
  padding-left: 20px;
  border-left: 1px solid #ccc;
}

.main-filed-pos-form ion-col.md.hydrated ion-text.ion-color,.main-filed-pos-form ion-col.ios.hydrated ion-text.ion-color {
  width: 14.641vw;
  display: inline-block;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.main-filed-pos-form .mat-form-field-wrapper{
  padding-bottom: 0px;
}


.main-filed-pos-form ion-col.md.hydrated mat-form-field .mat-form-field-wrapper,.main-filed-pos-form ion-col.ios.hydrated mat-form-field .mat-form-field-wrapper {
  border: 0;
}

.main-filed-pos-form ion-col.md.hydrated mat-form-field .mat-form-field-wrapper .mat-form-field-infix,.main-filed-pos-form ion-col.ios.hydrated mat-form-field .mat-form-field-wrapper .mat-form-field-infix {
  border: none;
}
.main-filed-pos-form .mat-form-field-appearance-legacy .mat-form-field-underline,.main-filed-pos-form  .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple{height:0}
.payment-draft-btn-box {display: flex;}
.payment-draft-btn-box button.draft-payment {background: #ea5255;font-size: 10px;padding: 0.732vw 2.196vw !important;border-radius: 0.732vw;margin-right: 23px;    max-width: 11.201vw;}
input.mat-input-element,.mat-form-field-appearance-legacy .mat-form-field-label{font-size: 1.025vw;}
.payment-draft-btn-box button.draft-payment span.mat-button-wrapper {line-height: 1.318vw; white-space: break-spaces;font-size: 1.2vw;width:100%;display: block;}
.payment-draft-btn-box button.submit-payment {background: #a5c536;font-size: 20px;padding: 0.732vw 0 !important;border-radius: 0.732vw;margin-right: 1.684vw;width: 12.445vw;}
.payment-draft-btn-box button.submit-payment span.mat-button-wrapper {line-height: 1.2;white-space: nowrap;font-size: 1.2vw;width: 100%;display: block;}
.item-scroll-box ion-card.mat-tooltip-trigger.grid-card.md.hydrated,.item-scroll-box ion-card.mat-tooltip-trigger.grid-card.ios.hydrated {
  margin: 0;
  width: 100%;
}
.main-filed-pos-form .mat-form-field-appearance-legacy .mat-form-field-underline{
  top: 28px;
}

.item-scroll-box ion-col.ng-star-inserted.md.hydrated,.item-scroll-box ion-col.ng-star-inserted.ios.hydrated {
  max-width: 13.909vw !important;
  margin-right: 30px;
}

.item-scroll-box  .horizontal-boxes ion-card-content {
  max-width: 50px !important;
}
.item-scroll-box ion-card-subtitle.ion-inherit-color.md.hydrated,.item-scroll-box ion-card-subtitle.ion-inherit-color.ios.hydrated {
  padding: 0;
  font-size: 0.95vw;
}
ion-col.box-price {
  font-size: 1.1vw;
  padding: 0;
  line-height: 1.5vw;
}

.item-scroll-box ion-button.ng-star-inserted.ion-color.ion-color-primary.md.button.button-small.button-clear.ion-activatable.ion-focusable.hydrated {
  display: none;
}
ion-img.item-image.prd-slid-img.md.hydrated,ion-img.item-image.prd-slid-img.ios.hydrated{  width: 60px;
  width: 8vw;
  height: 3.5vw;
  margin: 0 auto;
  margin-bottom: 0.2vw;
  margin-top: 1.2vw;
}

.item-prod-wrapper {
  position: relative;
}

.item-prod-wrapper .pieces-num.count-pcs{
  position: absolute;
  top: 0;
  left: 5px;
  z-index: 2;
  width: fit-content !important;
  font-size: 12px;
  padding:  3px 8px;
}
.item-scroll-box ion-card.mat-tooltip-trigger.grid-card.md.hydrated,.item-scroll-box ion-card.mat-tooltip-trigger.grid-card.ios.hydrated {
  padding-bottom: 5px;
}

.form-pos-box {

  border-radius: 0;
  padding-top: 0;
}



.main-promo-offer-box .grid-container.horizontal-boxes ion-row.md.hydrated,.main-promo-offer-box .grid-container.horizontal-boxes ion-row.ios.hydrated {
    flex-wrap: wrap;
    width: 100%;
}

.main-promo-offer-box .grid-container.horizontal-boxes ion-row.md.hydrated ion-col.ng-star-inserted,.main-promo-offer-box .grid-container.horizontal-boxes ion-row.ios.hydrated ion-col.ng-star-inserted {
    width: 50% !important;
    max-width: 100% !important;
    margin: 0;
    flex: 0 0 calc(calc(2 / var(--ion-grid-columns, 04)) * 100%) !important;
}
ion-text.ion-color.ion-color-tertiary.promo-offer-box-heading.md.hydrated,ion-text.ion-color.ion-color-tertiary.promo-offer-box-heading.ios.hydrated {
  background: #f4c343;
  display: block;
  padding: 0.2vw 0;
  border-radius: 20px;
  max-width: 90%;
  margin: 0 auto 0.2vw auto;
  font-weight: 500;
  font-size: 1.2vw;
  margin-bottom: 0px;
}


.main-promo-offer-box .grid-container.horizontal-boxes {
  display: block !important;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  padding-bottom: 5px;
  overflow: hidden;
}
ion-col.draft_box.form-pos-box.md.hydrated,ion-col.draft_box.form-pos-box.ios.hydrated  {
  // margin-top: -50px;
  margin-top: 10px;
}

#promotionalOffer .horizontal-boxes{
  border: none;
}

.mat-standard-chip.more-btn {
  border-radius: 19px !important;
  padding: 20px 25px;
  background-color: #499bc0 !important;
  color: #000 !important;
  font-weight: 600;
  margin-top: 10px;
  margin-right: 32px;
  margin-left: 10px;
}
mat-table.mat-table.cdk-table.striped {
  height: 100%;
  min-height: 27.5vh !important;
  overflow: auto !important;
  max-height: 13.031vw;
}
ion-col.pro-tot-strip.md.hydrated,ion-col.pro-tot-strip.ios.hydrated  {display: block;width: 100%;background: #ebebeb;padding: 10px 20px;}

ion-col.pro-tot-strip.md.hydrated ion-text.ion-color.ion-color-tertiary.md.hydrated,ion-col.pro-tot-strip.ios.hydrated ion-text.ion-color.ion-color-tertiary.ios.hydrated {
    color: #000;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1.171vw;
}
.prod-data-list {
  width: 100% !important;
}
ion-card.card-main-invoice-list.md.hydrated,ion-card.card-main-invoice-list.ios.hydrated  {
  box-shadow: none;
}
.modal-heading {
  background: #499bc0;
  text-align:center;
  padding:0 !important;
  margin:0;
  border-radius:10px;
}
.modal-heading ion-text{
  color:#fff;
  line-height:2;
  font-weight:600;
  
}
.card-main-invoice-list .striped .mat-header-row th{
width: 30%;
font-size: medium;
font-weight: bold;
color: #000;
text-align: center;
border: 0;
}

.card-main-invoice-list .striped .mat-row td{
  width: 30%;
  text-align: center;
  border: none;
}
.card-main-invoice-list ion-card-content{
  padding: 6px !important;
}
.card-main-invoice-list-footer{
  text-align: center;
}
.card-main-invoice-list-footer ion-button{
  float: none !important;
}
#draft-list-dialog-container {
  border-radius: 20px !important;
}
app-customer-create-dialog h5{
  text-align: center;
  margin-bottom: 30px;
}
app-customer-create-dialog mat-form-field{
  width: 100%;
  margin-bottom: 10px;
}
// app-customer-create-dialog mat-form-field .mat-form-field-flex{
//   border:1px solid #4a4a4a;
//   border-radius: 4px;
// }
app-customer-create-dialog mat-form-field .mat-form-field-appearance-legacy .mat-form-field-underline{
  height: 0px;
}
app-customer-create-dialog mat-form-field .mat-form-field-infix{
  border: 0;
  padding: 0px !important;
  width: 100%;
  height: auto;
}
app-customer-create-dialog mat-form-field .mat-form-field-subscript-wrapper {
  margin-top: 0 !important;
  padding-bottom: 26px !important;
}
app-customer-create-dialog mat-form-field .mat-form-field-invalid .mat-form-field-flex{
border-color: #f44336 !important;
}
app-customer-create-dialog mat-form-field .mat-form-field-underline{
display: none;
}
app-customer-create-dialog mat-form-field .mat-form-field-label-wrapper{
  top: -19px;
  margin: 0;
  padding: 0;
}
app-customer-create-dialog mat-form-field .mat-form-field-label{
  transform: none !important;
  position: absolute;
  top: 0 !important;
}
app-customer-create-dialog mat-form-field  .mat-input-element{
  padding: 8px 10px;
  margin: 0;
  background: #fbf5f8;
  border: 1px solid #ccc;
  border-radius: 7px;
}
app-customer-create-dialog .option-input .mat-form-field-subscript-wrapper {
  display: none;
}
app-customer-create-dialog .option-input .mat-form-field-wrapper{
  padding-bottom: 0px !important;
}
#customer-create-dialog ,app-customer-create-dialog .mat-dialog-content{
  max-height:100% !important;
  overflow: visible;
}
app-customer-create-dialog .divider{
background: #ccc;
}
app-customer-create-dialog .secondry-heading{
  margin: 0;
  line-height: 1.5;
  text-align: left;
  font-weight: 400;
    font-size: 14px;
    color: #686767;
}
#customer-create-dialog{
  border-radius: 10px !important;
}
app-customer-create-dialog  .mid-section-sale{
  position: relative;
  width: 100%;
  display: block;
  height: 60px;
}
#customer-create-dialog .mat-dialog-actions{
  justify-content: center;
}
.mat-dialog-actions button{
  padding:5px 10px;
     max-width:60px;
  text-align:center;
}
.mat-dialog-actions button span{
      color:#fff;
}
.mat-dialog-actions button{
  padding:5px 10px;
     max-width:60px;
  text-align:center;
}
.mat-dialog-actions button span{
      color:#fff;
}
.mat-dialog-actions button.cancel-btn{
  background:#f14950;
}
.mat-dialog-actions button.confirm-btn{
  background:#499bc0;
}

.somethinglist{
  font-size: 0px;
}

.paymentForm-inner{
  margin-top: 0;

}
.paymentForm-inner ion-card-content{
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0.05vw;
}
.topbar-form ion-row:not(.search_bar) ion-col {
  padding: 0px 0.8vw !important;
  min-width:9vw !important;
  max-width: 20vw !important;
  width:100%;
}

.topbar-form ion-row:not(.search_bar) ion-col:first-child {
  padding-left: 0px !important;
}
.topbar-form ion-row:not(.search_bar) ion-col .mat-form-field-label{
  font-size:1vw !important;
}
.topbar-form ion-row:not(.search_bar) ion-col .mat-form-field{
  display:block;
}
.topbar-form ion-row:not(.search_bar) ion-col ion-card-title.invBtn{
  font-size: 1.1vw;
    padding: 0.2vw 0.5vw;
    min-width: auto !important;
    min-height: 3vw;
}
.mat-input-element {
  width: 80% !important;
}
.card-content-md .mat-form-field-infix {
   min-height: 1.977vw;
}
.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  font-size: 1.025vw;
}
mat-footer-row.mat-footer-row.cdk-footer-row.footer.ng-star-inserted.mat-table-sticky {
  display: none;
}
ion-content.main-content-block.ios.overscroll.hydrated {
  --keyboard-offset: 0px !important;
}
// Responsive Design
@media(max-width:786px){
  .navTopButton{
      display:none;
  }
 .table-card ion-card-content{
    width: 500px;
    overflow-x: scroll;
  }
  .table-card ion-item{
    width: 1024px;
  }
  .payment-draft-btn-box button.submit-payment,.payment-draft-btn-box button.draft-payment{
    padding: 5px 20px !important;
    margin-right: 0px !important;
  }
  .payment-draft-btn-box button.draft-payment span.mat-button-wrapper,.payment-draft-btn-box button.submit-payment span.mat-button-wrapper {
    font-size: 16px;
  }

  ion-img.item-image.prd-slid-img.md.hydrated,ion-img.item-image.prd-slid-img.ios.hydrated{
    width: 100%;
    height: 55px;
  }
  .horizontal-boxes ion-card{
    padding: 20px 0px;
  }
  .item-scroll-box ion-card-subtitle.ion-inherit-color.md.hydrated,.item-scroll-box ion-card-subtitle.ion-inherit-color.ios.hydrated{
    font-size: 12px;
  }
  ion-col.box-price{
    font-size: 12px;
    line-height: 1.2;
  }
  ion-text.ion-color.ion-color-tertiary.promo-offer-box-heading.md.hydrated,  ion-text.ion-color.ion-color-tertiary.promo-offer-box-heading.ios.hydrated{
    padding: 10px 0;
    font-size: 16px;
  }
  .horizontal-boxes{
    border: 10px solid #fff;
    
  }
  .chip-main-wrapper{
   margin: 0px; 
  }
  .prod-data-list{
    width: max-content !important;
  }
  .item-scroll-box ion-col.ng-star-inserted.md.hydrated,  .item-scroll-box ion-col.ng-star-inserted.ios.hydrated{
    max-width: 150px !important;
    min-width: 145px !important;
  }
  .main-promo-offer-box .grid-container.horizontal-boxes ion-row.md.hydrated ion-col.ng-star-inserted,.main-promo-offer-box .grid-container.horizontal-boxes ion-row.ios.hydrated ion-col.ng-star-inserted{
    max-width: 50% !important;
    margin: auto;
  }
  ion-row.search_place.md.hydrated,ion-row.search_place.ios.hydrated{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    padding: 5px 10px;

  }
  .customer-hide-mobile-field {
    position: absolute;
    color: #fff;
    z-index: -1;
}
  .search_bar{
    display: block;
  }
  .label-form ion-card-content{
    padding: 0;
  }
  .label-form ion-row.align.md.hydrated, .label-form ion-row.align.ios.hydrated{
    overflow-x: scroll;
  }
  .form-info-invoice .topbar-form ion-row:not(.search_bar) ion-col .mat-form-field-label {
    font-size: 15px !important;
}

.form-info-invoice #cdk-overlay-1 .mat-option-text {
    margin: 16px 0 !important;
    display: block !important;
}

.form-info-invoice .mat-option {
    height: 90px;
    border-bottom: 1px solid #bfbfbf;
}

.form-info-invoice ion-card-header.ion-inherit-color.ios.hydrated,.form-info-invoice ion-card-header.ion-inherit-color.md.hydrated  {
    padding: 0;
}

.form-info-invoice ion-text.ion-color.ion-color-tertiary.ios.hydrated,.form-info-invoice ion-text.ion-color.ion-color-tertiary.md.hydrated  {
    font-size: 15px;
}

.form-info-invoice ion-row.align.ios.hydrated,.form-info-invoice ion-row.align.md.hydrated {
    display: block;
}

.form-info-invoice .remarks-label .mat-form-field-label-wrapper{    min-width: 60px;width: fit-content;}

.form-info-invoice  .mat-form-field-infix{border-radius: 50px !important;}

.mat-option{height:90px !important}

.invioce-main-wrapper .mat-form-field-prefix.ng-tns-c164-7.ng-star-inserted {
    padding: 6px 20px 3px 20px;
}

.invioce-main-wrapper ion-row.search_place.ios.hydrated,.invioce-main-wrapper ion-row.search_place.md.hydrated {
    max-width: 95%;
    margin: 0 auto;
}

.invioce-main-wrapper .grid-card[_ngcontent-muw-c341] {
    width: fit-content;
}
mat-table.mat-table.cdk-table.striped{min-height: 400px  !important;}
ion-col.draft_box.form-pos-box.ios.hydrated {
  margin-top: 50px;
}
ion-row.search_bar.ios.hydrated ion-col.ios.hydrated {
  margin: 0;
  padding: 0;
}
mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
  justify-content: flex-start !important;
}
.main-filed-pos-form ion-col.md.hydrated mat-form-field, .main-filed-pos-form ion-col.ios.hydrated mat-form-field{    width: 50%;}
ion-text.ion-color.ion-color-tertiary.promo-offer-box-heading.ios.hydrated{margin-bottom: 10px; }
.payment-draft-btn-box button.draft-payment,.payment-draft-btn-box button.submit-payment {
  width: 50%;
  padding: 7px 0 !important;
  margin-bottom: 10px !important;

  min-width: 145px;
}
.card-main-invoice-list {
  margin: 0 -10px;
}
.card-main-invoice-list mat-table.mat-table.cdk-table.striped {
  min-height: 40vh !important;
}
.mat-option {
  height: auto !important;
  border-bottom: 1px solid #ccc;
}
.cus-name-list {
  padding: 9px !important;
  font-size: 12px !important;
}
mat-header-row.mat-header-row.cdk-header-row.ng-star-inserted.mat-table-sticky,mat-row.mat-row.cdk-row.ng-star-inserted {
  min-width: 500px;
}
.mat-input-element {
  width: 90% !important;
}
#promotionalOffer .horizontal-boxes {
   width: 100%;
}
.chip-main-wrapper mat-chip-list mat-chip.mat-chip.mat-focus-indicator {
  background: none !important;
  color: #499bc0 !important;
  padding: 0;
  padding-right: 15px;
  border-right: 1px solid #499bc0;
  margin-right: 15px;
}
.main-filed-pos-form ion-col.md.hydrated ion-text.ion-color, .main-filed-pos-form ion-col.ios.hydrated ion-text.ion-color{width:50%}
input.mat-input-element, .mat-form-field-appearance-legacy .mat-form-field-label,.label-form .mat-form-field-appearance-legacy .mat-form-field-label,.remarks-label .mat-form-field-infix textarea,.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary,.striped mat-header-row mat-header-cell,.striped .mat-cell, .striped .mat-footer-cell,ion-col.pro-tot-strip.md.hydrated ion-text.ion-color.ion-color-tertiary.md.hydrated, ion-col.pro-tot-strip.ios.hydrated ion-text.ion-color.ion-color-tertiary.ios.hydrated,.draft_box ion-text.ion-color.ion-color-tertiary.md.hydrated, .draft_box ion-text.ion-color.ion-color-tertiary.ios.hydrated{font-size:12px;}
.modal-heading ion-text{font-size: 25px;}

}