.sc-ion-card-md-h {
  min-height: 90vh;
}

.full-width {
  width: 100%;
}

.search-models {
  padding: 0em 1em 0em 1em;
}

.footer {
  font-weight: bold;
}

.mat-column-total {
  display: flex;
  margin-right: 20px;
  justify-content: flex-end;
}
